* {
    padding: 0px;
    margin: 0px;
}

body {
    text-align: center;
    background-color: #74BFE7;
}

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5vmin;

}

.box {
    height: 18vmin;
    width: 18vmin;
    border: 3px solid #9C6D82;
    border-radius: 5px;
    font-size: 50px;
    color: black;
    background-color: rgb(191, 223, 125);
}

#reset-btn {
    padding: 6px;
    width: 20vmin;
    border: 3px solid #9C6D82;
    border-radius: 5px;
}

#New-btn{
    padding: 6px;
    width: 20vmin;
    border: 3px solid #9C6D82;
    border-radius: 5px;
}
#msg{
    margin-top: 5px;
    font-size: 30px;
}